@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

img{
  width: 100%;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  margin: 50px 0px 50px 0px;
  text-align: center;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  text-align: center;
}
p{
  font-family: 'Playfair Display', serif;
  margin: 50px 0px 50px 0px;
  text-align: center;
}

#clickable1 {
  display: none;
}

#clickable2 {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}
.buttons {
  text-align: center;
}
#light {
  background-color: white;
  color: black;
}
#dark {
  color: white;
  background-color: black;
}

.light {
  background-color: white;
  color: black;
}
.dark {
  color: white;
  background-color: black;
}
